asgiref==3.5.0
autopep8==1.6.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
Django==4.0.2
django-crispy-forms==1.14.0
Faker==12.3.0
mysqlclient==2.1.0
Pillow==9.0.1
pycodestyle==2.8.0
python-dateutil==2.8.2
python-decouple==3.6
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
