{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}
<title>Register user</title>
{% endblock %} {% block content %}

<form class="register-form" action="{% url 'users:register' %}" method="post">
    {% if messages %}
    <br />
    <br />
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% csrf_token %} {{ form | crispy }}
    <input type="submit" value="Register" />
</form>
{% endblock %}